.main-footer{
    height: 60px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background: linear-gradient(0deg, rgb(148, 201, 255)  0%, rgb(210, 232, 255) 100%);
    box-shadow: 0 -2px 6px rgba(0, 0, 0, 0.195);
}
.main-footer .footer-text{
     overflow: hidden;
     white-space: nowrap;
     letter-spacing: 1px;
     animation: typing 2.0s steps(100) infinite;
     font-weight: bold;
}
@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    50% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateY(20px);
    }
}

@keyframes typing {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}