header{
    position: fixed;
    height: 60px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    background: linear-gradient(0deg, rgb(210, 232, 255)  0%, rgb(148, 201, 255) 100%);
    box-shadow: 0 0px 6px rgba(0, 0, 0, 0.195);
    left: 0;
    top: 0;
    right: 0;
    z-index: 100;
}

.header-logo{
    display: flex;
    align-items: center;
    font-size: 22px;
    font-weight: 600;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    animation: slideIn 2.0s ease-out;
    animation-delay: 2.7s;
}

.menu-icon{
    display: none;
    height: 28px;
}

.header-nav ul{
    display: flex;
    column-gap: 40px;
    list-style-type: none;
}

.header-nav ul li a{
    text-decoration: none;
    color: rgb(42, 42, 42);
    font-weight: 600;
    background: none;
    padding: 10px;
    border-radius: 14px;
    transition: ease-in-out .15s;
}

.header-nav ul li a:hover{
    background: linear-gradient(0deg, rgba(0,172,238,1) 0%, rgba(2,126,251,1) 100%);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.229);
    padding: 2px;
    color: white;
    border-radius: 12px;
    padding: 10px;
}

.mobile-nav{
    width: 100%;
    padding-top: 80px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(0deg, rgb(210, 232, 255)  0%, rgb(148, 201, 255) 100%);
    box-shadow: 0 0px 6px rgba(0, 0, 0, 0.195);
    position: fixed;
    top: -280px;
    z-index: 2;
    transition: top 0.5s;
    text-align: center;
}

.mobile-nav img{
    height: 16px;
    opacity: 1;
    height: 20px;
    width: 20px;
}

.mobile-nav ul{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.mobile-nav ul li{
    list-style: none;
}

.mobile-nav ul li a{
    text-decoration: none;
    font-size: 20px;
    color: black;
}


@media(max-width: 800px){
    .menu-icon{
        display: flex;
        opacity: 1;
        width: 20px;
        height: 20px;
    }

    .header-nav ul{
        display: none;
    }
    #preloader{
        background-size: 50%;
    }
}

@keyframes slideIn {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}