.about-section{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "left right";
}

.about-title{
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: right;
}
.about-content{
    grid-area: left;
}