.expertise-section{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    padding: 10px;
}
.expertise-title{
    display: flex;
    align-items: center;
    justify-content: center;
}
.expertise-content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}
.expertise-indi-content{
    height: 300px;
    padding: 10px;
    background-color: lightcyan;
    border-radius: 20px;
    border-style: solid;
    border-color: lightblue;
}