.expertise-section{
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    padding: 10px;
}
.expertise-title{
    display: flex;
    align-items: center;
    justify-content: center;
}
.expertise-content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}
.expertise-indi-content{
    padding: 10px;
    background-color: rgb(220, 220, 220);
}