.main-footer{
    height: 60px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: lightgrey;
    border-top: solid 2px black;
}