* {
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

html{
    font-family: sans-serif;
	scroll-behavior: smooth;
}

body{
	background-color: rgb(176, 176, 176);
}