.projects-section{
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "left center right";
    padding: 10px
}

.projects-title{
    grid-area: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.projects-content-1{
    padding-top: 60px;
    grid-area: left;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.projects-content-2{
    padding-top: 60px;
    grid-area: right;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.projects-indi-content{   
    padding: 10px;
    background-color: rgb(220, 220, 220);
}