.projects-section{
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    grid-template-areas: "left center right";
    padding: 10px
}

.projects-title{
    grid-area: center;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 32px;
    font-weight: 600;
}
.projects-content-1{
    grid-area: left;
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    align-items: center;
    gap: 10px;
}

.projects-content-2{
    grid-area: right;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-items: center;
    gap: 10px;
}

.projects-indi-content{   
    padding: 10px;
    height: 240px;
    width: 220px;
    background-color: lightgray;
    border-radius: 20px;
    border-style: solid;
    border-color: black;
    border-width: 2px;
}

@media(max-width: 1200px){
    .projects-section{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        gap: 10px;
    }
    .projects-content-1{
        grid-area: left;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }
    
    .projects-content-2{
        grid-area: right;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }
}