.services-section{
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    grid-template-areas: "left right";
}

.services-title{
    grid-area: right;
    display: flex;
    align-items: center;
    justify-content: center;
}
.services-content{
    padding-top: 60px;
    grid-area: left;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    gap: 10px;
}
.services-indi-content{   
    height: 300px;
    padding: 10px;
    background-color: lightcyan;
    border-radius: 20px;
    border-style: solid;
    border-color: lightblue;
}

