.services-section{
    height: 100vh;
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    grid-template-areas: "left right";
}

.services-title{
    grid-area: right;
    display: flex;
    align-items: center;
    justify-content: center;
}
.services-content{
    grid-area: left;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}
.services-indi-content{
    padding: 10px;
    background-color: rgb(220, 220, 220);
}

