.team-section{
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr 2fr;
}

.team-title{
    display: flex;
    align-items: center;
    justify-content: center;
}

.team-content{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
}

.team-member{
    height: 300px;
    padding: 10px;
    background-color: rgb(220, 220, 220);
}