

.team-section{
    padding-top: 80px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;
    padding-bottom: 80px;
}

.team-title{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 32px;
    font-weight: 600;
}

.team-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.team-member{
    padding: 10px;
    height: 500px;
    width: 300px;
    background-color: lightgray;
    border-radius: 20px;
    border-style: solid;
    border-color: black;
    border-width: 2px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 10px;
}

.team-member img{
    height: 200px;
    border-radius: 100px;
}

.team-member h3{
    font-size: 18px;
    font-weight: 600;
}

.social-group{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.team-member .social-icon{
    height: 36px;
}
