.technologies-section{
    height: 100vh;
    padding: 10px;
    display: grid;
    grid-template-rows: 1fr 2fr;
}
.technologies-title{
    display: flex;
    align-items: center;
    justify-content: center;
}
.technologies-content{
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 10px;
}
.technologies-indi-content{
    padding: 10px;
    background-color: rgb(220, 220, 220);
}
.technologies-content ul{
    padding-left: 20px;
}