.technologies-section{
    padding: 120px;
    display: grid;
    grid-template-rows: 1fr 3fr;
}
.technologies-title{
    display: grid;
    align-items: flex-end;
    justify-content: center;
}
.technologies-content{
    display: grid;
    justify-content: space-between;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 10px;
}
.technologies-indi-content{
    height: 430px;
    width: 200px;
    padding: 10px;
    background-color: lightcyan;
    border-radius: 20px;
    border-style: solid;
    border-color: lightblue;
}